## Module 3, Lab 2

***

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import random

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols

import datetime
from datetime import datetime, timedelta

#import os
#import zipfile
import scipy.stats

# import pandas_profiling
# from pandas_profiling import ProfileReport


%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

## Exploratory Data Analysis

In [2]:
df1 = pd.read_csv("Mod3Lab2a.csv")

In [3]:
df1

   orderID ship.date
0     1301   11.1.18
1     1302   11.3.18
2     1303   11.7.18
3     1304  11.11.18
4     1305  11.17.18

In [4]:
df2 = pd.read_csv("Mod3Lab2b.csv")

In [5]:
df2

   orderID            product
0     1201       Ultra Laptop
1     1301    Ultra Laptop XL
2     1302  Ultra Tablet Mini
3     1303       Ultra Laptop
4     1304  Ultra Tablet Mini

In [6]:
innerjoin = pd.merge(left=df1, right=df2, on="orderID", how="inner")

In [7]:
innerjoin

   orderID ship.date            product
0     1301   11.1.18    Ultra Laptop XL
1     1302   11.3.18  Ultra Tablet Mini
2     1303   11.7.18       Ultra Laptop
3     1304  11.11.18  Ultra Tablet Mini

In [8]:
fullouterjoin = pd.merge(left=df1, right=df2, on="orderID", how="outer")

In [9]:
fullouterjoin

   orderID ship.date            product
0     1301   11.1.18    Ultra Laptop XL
1     1302   11.3.18  Ultra Tablet Mini
2     1303   11.7.18       Ultra Laptop
3     1304  11.11.18  Ultra Tablet Mini
4     1305  11.17.18                NaN
5     1201       NaN       Ultra Laptop

In [10]:
leftjoin = pd.merge(left=df1, right=df2, on="orderID", how="left")

In [11]:
leftjoin

   orderID ship.date            product
0     1301   11.1.18    Ultra Laptop XL
1     1302   11.3.18  Ultra Tablet Mini
2     1303   11.7.18       Ultra Laptop
3     1304  11.11.18  Ultra Tablet Mini
4     1305  11.17.18                NaN

In [12]:
rightjoin = pd.merge(left=df1, right=df2, on="orderID", how="right")

In [13]:
rightjoin

   orderID ship.date            product
0     1201       NaN       Ultra Laptop
1     1301   11.1.18    Ultra Laptop XL
2     1302   11.3.18  Ultra Tablet Mini
3     1303   11.7.18       Ultra Laptop
4     1304  11.11.18  Ultra Tablet Mini

#### Python code done by Dennis Lam