In [1]:
3 + 4

[1] 7

In [2]:
# Calculate 3 + 4
3 + 4

[1] 7

In [3]:
# Addition
5 + 5

# Subtraction
5 - 5

# Multiplication
3 * 5

 # Division
(5 + 5) / 2

# Exponentiation
2^5

# Modulo
28%%6

[1] 10

[1] 0

[1] 15

[1] 5

[1] 32

[1] 4

In [4]:
# statements (1) and (5) are correct; the others are false

In [5]:
# Assign the value 42 to x
x <- 42

# Print out the value of the variable x
x

[1] 42

In [6]:
# Assign the value 5 to the variable called my_apples
my_apples<-5

# Print out the value of the variable my_apples
my_apples

[1] 5

In [7]:
# Assign a value to the variables my_apples and my_oranges
my_apples <- 5
my_oranges <- 6

# Add these two variables together and print the result
my_apples + my_oranges

# Create the variable my_fruit
my_fruit = my_apples + my_oranges

[1] 11

In [8]:
# Clear the entire workspace
rm(list = ls())

# List the contents of your workspace
ls()

character(0)

In [9]:
# Create the variable horses
horses <- 3

# Create the variable dogs
dogs <- 7

# Create the variable animals
animals = horses+dogs

In [10]:
# Inspect the contents of the workspace again
ls()

[1] "animals" "dogs"    "horses"

In [11]:
# Remove dogs from the workspace
rm(dogs)

In [12]:
# Inspect the objects in your workspace once more
ls()

[1] "animals" "horses"

In [13]:
# Create the variables r and R
r <- 2
R <- 6

# Calculate the volume of the donut: vol_donut
vol_donut=2*pi^2*r^2*R

In [14]:
# Remove all intermediary variables that you've used with rm()
rm(r)
rm(R)

# List the elements in your workspace
ls()

[1] "animals"   "horses"    "vol_donut"

In [15]:
# What is the answer to the universe?
my_numeric <- 42

# The quotation marks indicate that the variable is of type character
my_character <- "forty-two"

# Change the value of my_logical
my_logical <- FALSE

In [16]:
# Assign a value to the variable called my_apples
my_apples <- 5 

# Print out the value of my_apples
my_apples       

# Assign a value to the variable my_oranges and print it out
my_oranges <- 6
my_oranges 

# New variable that contains the total amount of fruit
my_fruit <- my_apples + my_oranges 
my_fruit

[1] 5

[1] 6

[1] 11

In [17]:
# a's class is numeric, b is a character, c is a logical.

In [18]:
# Create variables var1, var2 and var3
var1 <- TRUE
var2 <- 0.3
var3 <- "i"

In [19]:
# Convert var1 to a character: var1_char
var1_char <- as.character(var1)

# See whether var1_char is a character
is.character(var1_char)

[1] TRUE

In [20]:
# Convert var2 to a logical: var2_log
var2_log <- as.logical(var2)

# Inspect the class of var2_log
class(var2_log)

[1] "logical"

In [21]:
# Coerce var3 to a numeric: var3_num
var3_num <- as.numeric(var3)

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

In [22]:
# Convert age to numeric: age_clean
age_clean <- as.numeric(age)
age_clean

# Convert employed to logical: employed_clean
employed_clean <- as.logical(employed)
employed_clean

# Convert salary to numeric: salary_clean
salary_clean <- as.numeric(salary)
salary_clean

ERROR: Error in eval(expr, envir, enclos): object 'age' not found