In [1]:
# Print the first observations of mtcars
head(mtcars)

# Print the last observations of mtcars
tail(mtcars)

# Print the dimensions of mtcars
dim(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.7 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

[1] 32 11

In [2]:
# Investigate the structure of the mtcars data set
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [3]:
# Definition of vectors
planets <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

# Create a data frame: planets_df
planets_df = data.frame(planets,type,diameter,rotation,rings)
planets_df
# Display the structure of planets_df
str(planets_df)

  planets type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

'data.frame':	8 obs. of  5 variables:
 $ planets : Factor w/ 8 levels "Earth","Jupiter",..: 4 8 1 3 2 6 7 5
 $ type    : Factor w/ 2 levels "Gas giant","Terrestrial planet": 2 2 2 2 1 1 1 1
 $ diameter: num  0.382 0.949 1 0.532 11.209 ...
 $ rotation: num  58.64 -243.02 1 1.03 0.41 ...
 $ rings   : logi  FALSE FALSE FALSE FALSE TRUE TRUE ...

In [4]:
# Definition of vectors
planets <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

# Encode type as a factor: type_factor
type_factor = factor(type)
type_factor
# Construct planets_df: strings are not converted to factors!
planets_df <- data.frame(planets,type_factor,diameter,rotation,rings, stringsAsFactors=FALSE)
planets_df
# Display the structure of planets_df
str(planets_df)

[1] Terrestrial planet Terrestrial planet Terrestrial planet Terrestrial planet
[5] Gas giant          Gas giant          Gas giant          Gas giant
Levels: Gas giant Terrestrial planet

  planets type_factor        diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

'data.frame':	8 obs. of  5 variables:
 $ planets    : chr  "Mercury" "Venus" "Earth" "Mars" ...
 $ type_factor: Factor w/ 2 levels "Gas giant","Terrestrial planet": 2 2 2 2 1 1 1 1
 $ diameter   : num  0.382 0.949 1 0.532 11.209 ...
 $ rotation   : num  58.64 -243.02 1 1.03 0.41 ...
 $ rings      : logi  FALSE FALSE FALSE FALSE TRUE TRUE ...

In [5]:
# Construct improved planets_df
planets <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)
type_factor <- factor(type)
planets_df <- data.frame(planets, type_factor, diameter, rotation, rings, stringsAsFactors = FALSE)

# Improve the names of planets_df
names(planets_df)= c("name", "type", "diameter", "rotation", "has_rings")

planets_df

  name    type               diameter rotation has_rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

In [7]:
countries <-c("Canada", "United States", "France", "Belgium", "India", "China", "United Kingdom", "Russia")
continents <-c("North-America", "North-America", "Europe", "Europe", "Asia", "Asia", "Europe", "Asia")
gdp <- c(44843, 54596, 44538, 47787, 1808, 8154, 45653, 8184)
hdi <- c(0.902, 0.914, 0.884, 0.881, 0.586, 0.719, 0.892, 0.778)
president <- c(F, T, T, F, T, T, F, T)

In [8]:
# Convert continents to factor: continents_factor
continents_factor=factor(continents)

# Create countries_df with the appropriate column names
countries_df=data.frame(countries,continents_factor,gdp,hdi,president,stringsAsFactors=FALSE)

# Display the structure of countries_df
str(countries_df)

'data.frame':	8 obs. of  5 variables:
 $ countries        : chr  "Canada" "United States" "France" "Belgium" ...
 $ continents_factor: Factor w/ 3 levels "Asia","Europe",..: 3 3 2 2 1 1 2 1
 $ gdp              : num  44843 54596 44538 47787 1808 ...
 $ hdi              : num  0.902 0.914 0.884 0.881 0.586 0.719 0.892 0.778
 $ president        : logi  FALSE TRUE TRUE FALSE TRUE TRUE ...

In [9]:
# planets_df is pre-loaded
planets_df
# The type of Mars: mars_type
mars_type <- planets_df[4,2]
mars_type
# Entire rotation column: rotation
rotation <- planets_df[,4]
rotation

# First three planets: closest_planets_df
closest_planets_df <- planets_df[1:3,]
closest_planets_df 
# Last three planets: furthest_planets_df
furthest_planets_df <- planets_df[6:8,]
furthest_planets_df

  name    type               diameter rotation has_rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

[1] Terrestrial planet
Levels: Gas giant Terrestrial planet

[1]   58.64 -243.02    1.00    1.03    0.41    0.43   -0.72    0.67

  name    type               diameter rotation has_rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
3 Earth   Terrestrial planet 1.000       1.00  FALSE

  name    type      diameter rotation has_rings
6 Saturn  Gas giant 9.449     0.43    TRUE
7 Uranus  Gas giant 4.007    -0.72    TRUE
8 Neptune Gas giant 3.883     0.67    TRUE

In [10]:
# planets_df is pre-loaded

# Diameter and rotation for Earth: earth_data 
earth_data = planets_df[3,3:4]
earth_data
# Diameter for the last six rows: furthest_planets_diameter
furthest_planets_diameter = planets_df[3:8,3]

# Print furthest_planets_diameter
furthest_planets_diameter

  diameter rotation
3 1        1

[1]  1.000  0.532 11.209  9.449  4.007  3.883

In [11]:
# planets_df is pre-loaded in your workspace

# Create rings_vector
rings_vector = planets_df[,"has_rings"]

# Print rings_vector
rings_vector

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [12]:
# planets_df pre-loaded in your workspace

# Create rings_vector
rings_vector <- planets_df$has_rings

# Select the information on planets with rings: planets_with_rings_df
planets_with_rings_df = planets_df[rings_vector,]
planets_with_rings_df

  name    type      diameter rotation has_rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

In [13]:
# planets_df is pre-loaded in your workspace

# Planets that are smaller than planet Earth: small_planets_df
small_planets_df=subset(planets_df, subset = diameter<1)
small_planets_df
# Planets that rotate slower than planet Earth: slow_planets_df
slow_planets_df=subset(planets_df, subset = abs(rotation)>1)
slow_planets_df

  name    type               diameter rotation has_rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
4 Mars    Terrestrial planet 0.532       1.03  FALSE

  name    type               diameter rotation has_rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
4 Mars    Terrestrial planet 0.532       1.03  FALSE

In [14]:
# planets_df is already pre-loaded in your workspace

# Definition of moons and masses
moons <- c(0, 0, 1, 2, 67, 62, 27, 14)
masses <- c(0.06, 0.82, 1.00, 0.11, 317.8, 95.2, 14.6, 17.2)

# Add moons to planets_df under the name "moon"
moon = planets_df$moon = moons
planets_df
# Add masses to planets_df under the name "mass"
mass = planets_df$mass = masses
planets_df

  name    type               diameter rotation has_rings moon
1 Mercury Terrestrial planet  0.382     58.64  FALSE      0
2 Venus   Terrestrial planet  0.949   -243.02  FALSE      0
3 Earth   Terrestrial planet  1.000      1.00  FALSE      1
4 Mars    Terrestrial planet  0.532      1.03  FALSE      2
5 Jupiter Gas giant          11.209      0.41   TRUE     67
6 Saturn  Gas giant           9.449      0.43   TRUE     62
7 Uranus  Gas giant           4.007     -0.72   TRUE     27
8 Neptune Gas giant           3.883      0.67   TRUE     14

  name    type               diameter rotation has_rings moon mass
1 Mercury Terrestrial planet  0.382     58.64  FALSE      0     0.06
2 Venus   Terrestrial planet  0.949   -243.02  FALSE      0     0.82
3 Earth   Terrestrial planet  1.000      1.00  FALSE      1     1.00
4 Mars    Terrestrial planet  0.532      1.03  FALSE      2     0.11
5 Jupiter Gas giant          11.209      0.41   TRUE     67   317.80
6 Saturn  Gas giant           9.449      0.43   TRUE     62    95.20
7 Uranus  Gas giant           4.007     -0.72   TRUE     27    14.60
8 Neptune Gas giant           3.883      0.67   TRUE     14    17.20

In [15]:
# planets_df is pre-loaded (without the columns moon and mass)

# Name pluto correctly
pluto <- data.frame(name="Pluto", type="Terrestrial planet", diameter=0.18, rotation=-6.38, has_rings=FALSE)

# Bind planets_df and pluto together: planets_df_ext
planets_df_ext = rbind(planets_df,pluto)

# Print out planets_df_ext
planets_df_ext

ERROR: Error in rbind(deparse.level, ...): numbers of columns of arguments do not match

In [16]:
planets <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)
type_factor <- factor(type)
planets_df <- data.frame(planets, type_factor, diameter, rotation, rings, stringsAsFactors = FALSE)
names(planets_df) <- c("name", "type", "diameter", "rotation", "has_rings")
rm(planets, type, diameter, rotation, rings, type_factor)

In [17]:
# planets_df is pre-loaded in your workspace

# Create a desired ordering for planets_df: positions
positions=order(planets_df$diameter,decreasing=TRUE)

# Create a new, ordered data frame: largest_first_df
largest_first_df = planets_df[positions,]

# Print largest_first_df
largest_first_df

  name    type               diameter rotation has_rings
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
1 Mercury Terrestrial planet  0.382     58.64  FALSE

In [18]:
countries <-c("Canada", "United States", "France", "Belgium", "India", "China", "United Kingdom", "Russia")
continents <-c("North-America", "North-America", "Europe", "Europe", "Asia", "Asia", "Europe", "Asia")
gdp <- c(44843, 54596, 44538, 47787, 1808, 8154, 45653, 8184)
hdi <- c(0.902, 0.914, 0.884, 0.881, 0.586, 0.719, 0.892, 0.778)
president <- c(F, T, T, F, T, T, F, T)

In [19]:
continents_factor <- factor(continents)
countries_df <- data.frame(name = countries, cont = continents_factor, GDP = gdp, HDI = hdi, has_president = president, stringsAsFactors=FALSE)
countries_df

  name           cont          GDP   HDI   has_president
1 Canada         North-America 44843 0.902 FALSE
2 United States  North-America 54596 0.914  TRUE
3 France         Europe        44538 0.884  TRUE
4 Belgium        Europe        47787 0.881 FALSE
5 India          Asia           1808 0.586  TRUE
6 China          Asia           8154 0.719  TRUE
7 United Kingdom Europe        45653 0.892 FALSE
8 Russia         Asia           8184 0.778  TRUE

In [20]:
population <- c(35749600,  321163157,   66616416,   11239755, 1210193422, 1357380000,   64511000,143975923)

In [21]:
# Remove economic variables and add population
countries_df_dem = cbind(countries_df[-c(3,4)],population)
countries_df_dem
# Add brazil
brazilcol <- c("name","continent","has_president","population")
names(brazil)<-brazilcol
brazil
countries_df2 <- rbind(countries_df_dem,brazil)


# Sort by population
countries_df2[order(countries_df2$population, decreasing = TRUE),]

  name           cont          has_president population
1 Canada         North-America FALSE           35749600
2 United States  North-America  TRUE          321163157
3 France         Europe         TRUE           66616416
4 Belgium        Europe        FALSE           11239755
5 India          Asia           TRUE         1210193422
6 China          Asia           TRUE         1357380000
7 United Kingdom Europe        FALSE           64511000
8 Russia         Asia           TRUE          143975923

ERROR: Error in names(brazil) <- brazilcol: object 'brazil' not found