## Modifying Data

***

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

import pyodbc

%matplotlib inline

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.option_context('float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

## Load Data from SQL database

### MSSQL

In [2]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-ARQLULI\SQLEXPRESS2019;'
                      'Database=AdventureWorksLT2012;'
                      'Trusted_Connection=yes;')

## Challenge 1: Inserting Products

In [ ]:
pd.read_sql_query("INSERT INTO SalesLT.Product (Name, ProductNumber, StandardCost, ListPrice, ProductCategoryID, SellStartDate)\
                   VALUES\
                  ('LED Lights', 'LT-L123', 2.56, 12.99, 37, GETDATE()); \
                  SELECT SCOPE_IDENTITY();\
                  SELECT * FROM SalesLT.Product \
                  WHERE ProductID = SCOPE_IDENTITY();", conn)

In [ ]:
pd.read_sql_query("INSERT INTO SalesLT.ProductCategory (ParentProductCategoryID, Name)\
                   VALUES\
                   (4, 'Bells and Horns'); \
                   INSERT INTO SalesLT.Product (Name, ProductNumber, StandardCost, ListPrice, ProductCategoryID, SellStartDate)\
                   VALUES \
                   ('Bicycle Bell', 'BB-RING', 2.47, 4.99, IDENT_CURRENT('SalesLT.ProductCategory'), GETDATE()),\
                   ('Bicycle Horn', 'BB-PARP', 1.29, 3.75, IDENT_CURRENT('SalesLT.ProductCategory'), GETDATE()); \
                   SELECT c.Name As Category, p.Name AS Product\
                   FROM SalesLT.Product AS p\
                   JOIN SalesLT.ProductCategory as c ON p.ProductCategoryID = c.ProductCategoryID\
                   WHERE p.ProductCategoryID = IDENT_CURRENT('SalesLT.ProductCategory');", conn)

## Challenge 2: Updating Products

In [ ]:
pd.read_sql_query("UPDATE SalesLT.Product \
                   SET ListPrice = ListPrice * 1.1\
                   WHERE ProductCategoryID = (SELECT ProductCategoryID FROM SalesLT.ProductCategory WHERE Name = 'Bells and Horns');",conn)

In [ ]:
pd.read_sql_query("UPDATE SalesLT.Product\
                   SET DiscontinuedDate = GETDATE()\
                   WHERE ProductCategoryID = 37\
                   AND ProductNumber <> 'LT-L123';",conn)

### Challenge 3: Deleting Products

In [ ]:
pd.read_sql_query("DELETE FROM SalesLT.Product\
                   WHERE ProductCategoryID =(SELECT ProductCategoryID FROM SalesLT.ProductCategory WHERE Name = 'Bells and Horns');\
                   DELETE FROM SalesLT.ProductCategory\
                   WHERE ProductCategoryID =(SELECT ProductCategoryID FROM SalesLT.ProductCategory WHERE Name = 'Bells and Horns');", conn)

In [5]:
conn.close()

#### Python code done by Dennis Lam