## Using Subqueries and APPLY

***

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

import pyodbc

%matplotlib inline

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.option_context('float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

## Load Data from SQL database

### MSSQL

In [2]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-ARQLULI\SQLEXPRESS2019;'
                      'Database=AdventureWorksLT2012;'
                      'Trusted_Connection=yes;')

## Challenge 1: Retrieve Product Price Information

In [3]:
pd.read_sql_query("SELECT ProductID, Name, ListPrice \
                   FROM SalesLT.Product \
                   WHERE ListPrice > (SELECT AVG(UnitPrice) FROM SalesLT.SalesOrderDetail) \
                   ORDER BY ProductID;", conn)

     ProductID                       Name  ListPrice
0          680  HL Road Frame - Black, 58    1431.50
1          706    HL Road Frame - Red, 58    1431.50
2          717    HL Road Frame - Red, 62    1431.50
3          718    HL Road Frame - Red, 44    1431.50
4          719    HL Road Frame - Red, 48    1431.50
..         ...                        ...        ...
132        992     Mountain-500 Black, 48     539.99
133        993     Mountain-500 Black, 52     539.99
134        997         Road-750 Black, 44     539.99
135        998         Road-750 Black, 48     539.99
136        999         Road-750 Black, 52     539.99

[137 rows x 3 columns]

In [4]:
pd.read_sql_query("SELECT ProductID, Name, ListPrice \
                   FROM SalesLT.Product \
                   WHERE ProductID IN (SELECT ProductID from SalesLT.SalesOrderDetail WHERE UnitPrice < 100.00)\
                   AND ListPrice >= 100 \
                   ORDER BY ProductID;", conn)

   ProductID                    Name  ListPrice
0        810  HL Mountain Handlebars     120.27
1        813      HL Road Handlebars     120.27
2        876     Hitch Rack - 4-Bike     120.00
3        894         Rear Derailleur     121.46
4        907             Rear Brakes     106.50
5        948            Front Brakes     106.50
6        996       HL Bottom Bracket     121.49

In [5]:
pd.read_sql_query("SELECT ProductID, Name, StandardCost, ListPrice, \
                    (SELECT AVG(UnitPrice) \
                    FROM SalesLT.SalesOrderDetail AS SOD \
                    WHERE P.ProductID = SOD.ProductID) AS AvgSellingPrice \
                    FROM SalesLT.Product AS P\
                    ORDER BY P.ProductID;", conn)

     ProductID                       Name  StandardCost  ListPrice  AvgSellingPrice
0          680  HL Road Frame - Black, 58     1059.3100    1431.50              NaN
1          706    HL Road Frame - Red, 58     1059.3100    1431.50              NaN
2          707      Sport-100 Helmet, Red       13.0863      34.99          20.9940
3          708    Sport-100 Helmet, Black       13.0863      34.99          20.6441
4          709     Mountain Bike Socks, M        3.3963       9.50              NaN
..         ...                        ...           ...        ...              ...
290        995          ML Bottom Bracket       44.9506     101.24              NaN
291        996          HL Bottom Bracket       53.9416     121.49          72.8940
292        997         Road-750 Black, 44      343.6496     539.99         323.9940
293        998         Road-750 Black, 48      343.6496     539.99         323.9940
294        999         Road-750 Black, 52      343.6496     539.99         323.9940

[295 rows x 5 columns]

In [6]:
pd.read_sql_query("SELECT ProductID, Name, StandardCost, ListPrice, \
                 (SELECT AVG(UnitPrice)\
                  FROM SalesLT.SalesOrderDetail AS SOD \
                  WHERE P.ProductID = SOD.ProductID) AS AvgSellingPrice \
                  FROM SalesLT.Product AS P \
                  WHERE StandardCost > \
                  (SELECT AVG(UnitPrice) \
                  FROM SalesLT.SalesOrderDetail AS SOD \
                  WHERE P.ProductID = SOD.ProductID)\
                  ORDER BY P.ProductID;",conn)

    ProductID                             Name  StandardCost  ListPrice  AvgSellingPrice
0         712                     AWC Logo Cap        6.9223       8.99           5.3740
1         714       Long-Sleeve Logo Jersey, M       38.4923      49.99          29.9940
2         715       Long-Sleeve Logo Jersey, L       38.4923      49.99          29.7440
3         716      Long-Sleeve Logo Jersey, XL       38.4923      49.99          29.9940
4         717          HL Road Frame - Red, 62      868.6342    1431.50         858.9000
5         718          HL Road Frame - Red, 44      868.6342    1431.50         858.9000
6         722        LL Road Frame - Black, 58      204.6251     337.22         202.3320
7         738        LL Road Frame - Black, 52      204.6251     337.22         202.3320
8         792                 Road-250 Red, 58     1554.9479    2443.35        1466.0100
9         793               Road-250 Black, 44     1554.9479    2443.35        1466.0100
10        794               Road-250 Black, 48     1554.9479    2443.35        1466.0100
11        795               Road-250 Black, 52     1554.9479    2443.35        1466.0100
12        796               Road-250 Black, 58     1554.9479    2443.35        1466.0100
13        797            Road-550-W Yellow, 38      713.0798    1120.49         672.2940
14        798            Road-550-W Yellow, 40      713.0798    1120.49         672.2940
15        799            Road-550-W Yellow, 42      713.0798    1120.49         672.2940
16        800            Road-550-W Yellow, 44      713.0798    1120.49         672.2940
17        801            Road-550-W Yellow, 48      713.0798    1120.49         672.2940
18        822     ML Road Frame-W - Yellow, 38      360.9428     594.83         356.8980
19        835     ML Road Frame-W - Yellow, 44      360.9428     594.83         356.8980
20        836     ML Road Frame-W - Yellow, 48      360.9428     594.83         356.8980
21        838        HL Road Frame - Black, 44      868.6342    1431.50         858.9000
22        881   Short-Sleeve Classic Jersey, S       41.5723      53.99          32.3940
23        883   Short-Sleeve Classic Jersey, L       41.5723      53.99          31.9215
24        884  Short-Sleeve Classic Jersey, XL       41.5723      53.99          32.0940
25        953            Touring-2000 Blue, 60      755.1508    1214.85         728.9100
26        954          Touring-1000 Yellow, 46     1481.9379    2384.07        1430.4420
27        955          Touring-1000 Yellow, 50     1481.9379    2384.07        1430.4420
28        956          Touring-1000 Yellow, 54     1481.9379    2384.07        1430.4420
29        957          Touring-1000 Yellow, 60     1481.9379    2384.07        1418.5216
30        958            Touring-3000 Blue, 54      461.4448     742.35         445.4100
31        959            Touring-3000 Blue, 58      461.4448     742.35         445.4100
32        960            Touring-3000 Blue, 62      461.4448     742.35         445.4100
33        961          Touring-3000 Yellow, 44      461.4448     742.35         445.4100
34        962          Touring-3000 Yellow, 50      461.4448     742.35         445.4100
35        963          Touring-3000 Yellow, 54      461.4448     742.35         445.4100
36        964          Touring-3000 Yellow, 58      461.4448     742.35         445.4100
37        965          Touring-3000 Yellow, 62      461.4448     742.35         441.6982
38        966            Touring-1000 Blue, 46     1481.9379    2384.07        1430.4420
39        967            Touring-1000 Blue, 50     1481.9379    2384.07        1430.4420
40        968            Touring-1000 Blue, 54     1481.9379    2384.07        1430.4420
41        969            Touring-1000 Blue, 60     1481.9379    2384.07        1430.4420
42        970            Touring-2000 Blue, 46      755.1508    1214.85         728.9100
43        971            Touring-2000 Blue, 50      755.1508    1214.85         728.9100
44        972            Touring-2000 Blue, 54      755.1508    1214.85         728.9100
45        973            Road-350-W Yellow, 40     1082.5100    1700.99        1020.5940
46        974            Road-350-W Yellow, 42     1082.5100    1700.99        1009.2540
47        975            Road-350-W Yellow, 44     1082.5100    1700.99        1020.5940
48        976            Road-350-W Yellow, 48     1082.5100    1700.99         986.5742
49        977               Road-750 Black, 58      343.6496     539.99         323.9940
50        978            Touring-3000 Blue, 44      461.4448     742.35         445.4100
51        979            Touring-3000 Blue, 50      461.4448     742.35         445.4100
52        984          Mountain-500 Silver, 40      308.2179     564.99         112.9980
53        985          Mountain-500 Silver, 42      308.2179     564.99         112.9980
54        986          Mountain-500 Silver, 44      308.2179     564.99         112.9980
55        987          Mountain-500 Silver, 48      308.2179     564.99         112.9980
56        988          Mountain-500 Silver, 52      308.2179     564.99         112.9980
57        997               Road-750 Black, 44      343.6496     539.99         323.9940
58        998               Road-750 Black, 48      343.6496     539.99         323.9940
59        999               Road-750 Black, 52      343.6496     539.99         323.9940

## Challenge 2: Retrieve Customer Information

In [7]:
pd.read_sql_query("SELECT SOH.SalesOrderID, SOH.CustomerID, CI.FirstName, CI.LastName, SOH.TotalDue \
                   FROM SalesLT.SalesOrderHeader AS SOH \
                   CROSS APPLY dbo.ufnGetCustomerInformation(SOH.CustomerID) AS CI \
                   ORDER BY SOH.SalesOrderID;",conn)

    SalesOrderID  CustomerID     FirstName      LastName     TotalDue
0          71774       29847         David       Hodgson     972.7850
1          71776       30072        Andrea       Thomsen      87.0851
2          71780       30113          Raja     Venugopal   42452.6519
3          71782       29485     Catherine          Abel   43962.7901
4          71783       29957         Kevin           Liu   92663.5609
5          71784       29736         Terry     Eminhizer  119960.8240
6          71796       29660       Anthony          Chor   63686.2708
7          71797       29796           Jon        Grande   86222.8072
8          71815       30089  Michael John        Troyer    1261.4440
9          71816       30027        Joseph       Mitzner    3754.9733
10         71831       30019       Matthew        Miller    2228.0566
11         71832       29922        Pamala          Kotc   39531.6085
12         71845       29938         Frank      Campbell   45992.3665
13         71846       30102         Roger    Van Houten    2711.4098
14         71856       30033        Vassar         Stern     665.4251
15         71858       29653           Pei          Chow   15275.1977
16         71863       29975        Walter          Mays    3673.3249
17         71867       29644        Brigid     Cavendish    1170.5376
18         71885       29612       Richard         Byham     608.1766
19         71895       29584        Walter         Brian     272.6468
20         71897       29877         Joyce        Jarvis   14017.9083
21         71898       29932       Rebecca        Laszlo   70698.9922
22         71899       29568        Donald       Blanton    2669.3183
23         71902       29929       Jeffrey         Kurtz   81834.9826
24         71915       29638      Rosmarie       Carroll    2361.6403
25         71917       30025         Linda      Mitchell      45.1995
26         71920       29982       Melissa        Marple    3293.7761
27         71923       29781           Guy       Gilbert     117.7276
28         71935       29531          Cory         Booth    7330.8972
29         71936       30050       Krishna  Sunkammurali  108597.9536
30         71938       29546   Christopher          Beck   98138.2131
31         71946       29741        Janeth       Esteves      43.0437

In [8]:
pd.read_sql_query("SELECT CA.CustomerID, CI.FirstName, CI.LastName, A.AddressLine1, A.City \
                   FROM SalesLT.Address AS A \
                   JOIN SalesLT.CustomerAddress AS CA \
                   ON A.AddressID = CA.AddressID \
                   CROSS APPLY dbo.ufnGetCustomerInformation(CA.CustomerID) AS CI \
                   ORDER BY CA.CustomerID;", conn)

     CustomerID  FirstName     LastName                  AddressLine1         City
0         29485  Catherine         Abel             57251 Serene Blvd     Van Nuys
1         29486        Kim  Abercrombie                Tanger Factory       Branch
2         29489    Frances        Adams                6900 Sisk Road      Modesto
3         29490   Margaret        Smith                 Lewiston Mall     Lewiston
4         29492        Jay        Adams               Blue Ridge Mall  Kansas City
..          ...        ...          ...                           ...          ...
412       30113       Raja    Venugopal                  Burgess Hill  West Sussex
413       30115       Dora       Verdad  Suite 2502 410 Albert Street     Waterloo
414       30116      Wanda       Vernon                 Ontario Mills      Ontario
415       30117     Robert        Vessa              72540 Blanco Rd.  San Antonio
416       30118   Caroline     Vicknair                 660 Lindbergh  Saint Louis

[417 rows x 5 columns]

In [9]:
conn.close()

#### Python code done by Dennis Lam